In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import os
import warnings
warnings.filterwarnings("ignore")

In [2]:
Data=pd.read_csv(r'C:\Users\yo-un\Desktop\EXPORTED DATAFRAME\End-to End Project\Aribnb Dataset\Airbnb.csv')

# Read and Explore Dataset

In [3]:
Data.head(10)
Data.tail(10)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
102589,6089676,Lrg room 1 block from Prospect Park,74549151787,unconfirmed,Dave,Brooklyn,Flatbush,40.65231,-73.96189,United States,...,$61,3.0,0.0,NaN,NaN,1.0,1.0,200.0,House Rules 1. Check-in is 4 pm local time. If...,NaN
102590,6090228,Wonderful artists' loft in Brooklyn,9184535139,unconfirmed,Daniel,Brooklyn,Crown Heights,40.66673,-73.96127,United States,...,$50,1.0,0.0,NaN,NaN,1.0,1.0,276.0,#NAME?,NaN
102591,6090781,Columbus Ave Apt 1 block from Park,50908010324,verified,Lawrence,Manhattan,Upper West Side,40.77408,-73.98181,United States,...,$228,5.0,17.0,1/4/2019,0.35,5.0,1.0,134.0,#NAME?,NaN
102592,6091333,3BR/1 Ba in TriBeCa w/ outdoor deck,53266862889,unconfirmed,Nick,Manhattan,Tribeca,40.71845,-74.01183,United States,...,$157,1.0,0.0,NaN,NaN,2.0,1.0,177.0,Guests should treat my home as if it were thei...,NaN
102593,6091885,"Welcoming, Clean, Cheap on St Marks",33188605074,verified,Felipe,Manhattan,East Village,40.72826,-73.98422,United States,...,$220,1.0,8.0,9/6/2015,0.16,4.0,2.0,152.0,* No smoking indoors. * No pets * No loud/la...,NaN
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [5]:
Data.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

In [6]:
Data.describe()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

In [7]:
Data.isnull().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [8]:
Data.duplicated().sum()

541

In [9]:
Data.corr()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
id,1.000000,-0.000830,-0.008832,0.042546,0.001081,0.005668,-0.041530,0.038038,0.036633,0.024296,-0.139226
host id,-0.000830,1.000000,0.000661,-0.008999,0.004871,-0.002266,-0.004503,-0.001746,0.003459,0.001722,-0.002044
lat,-0.008832,0.000661,1.000000,0.074348,0.005697,0.014889,-0.025236,-0.019492,-0.003917,0.032468,-0.005011
long,0.042546,-0.008999,0.074348,1.000000,0.000861,-0.039639,0.069169,0.118598,0.015283,-0.104154,0.058428
Construction year,0.001081,0.004871,0.005697,0.000861,1.000000,-0.000486,0.001990,0.004092,0.004753,-0.002745,-0.008264
minimum nights,0.005668,-0.002266,0.014889,-0.039639,-0.000486,1.000000,-0.049997,-0.096141,-0.002167,0.084846,0.063541
number of reviews,-0.041530,-0.004503,-0.025236,0.069169,0.001990,-0.049997,1.000000,0.590939,-0.018412,-0.080907,0.099368
reviews per month,0.038038,-0.001746,-0.019492,0.118598,0.004092,-0.096141,0.590939,1.000000,0.037526,-0.025621,0.077193
review rate number,0.036633,0.003459,-0.003917,0.015283,0.004753,-0.002167,-0.018412,0.037526,1.000000,0.024273,-0.006217
calculated host listings count,0.024296,0.001722,0.032468,-0.104154,-0.002745,0.084846,-0.080907,-0.025621,0.024273,1.000000,0.159194
availability 365,-0.139226,-0.002044,-0.005011,0.058428,-0.008264,0.063541,0.099368,0.077193,-0.006217,0.159194,1.000000

In [10]:
Data.nunique()

id                                102058
NAME                               61281
host id                           102057
host_identity_verified                 2
host name                          13190
neighbourhood group                    7
neighbourhood                        224
lat                                21991
long                               17774
country                                1
country code                           1
instant_bookable                       2
cancellation_policy                    3
room type                              4
Construction year                     20
price                               1151
service fee                          231
minimum nights                       153
number of reviews                    476
last review                         2477
reviews per month                   1016
review rate number                     5
calculated host listings count        78
availability 365                     438
house_rules                         1976
license                                1
dtype: int64

In [11]:

def unique_column(columnname):
    return Data[columnname].value_counts()

In [12]:
unique_column('host_identity_verified')

unconfirmed    51200
verified       51110
Name: host_identity_verified, dtype: int64

In [13]:
unique_column('neighbourhood group')

Manhattan        43792
Brooklyn         41842
Queens           13267
Bronx             2712
Staten Island      955
brookln              1
manhatan             1
Name: neighbourhood group, dtype: int64

In [14]:
instant_bookable=unique_column('instant_bookable')
instant_bookable

False    51474
True     51020
Name: instant_bookable, dtype: int64

In [15]:
cancellation_policy=unique_column('cancellation_policy')
cancellation_policy

moderate    34343
strict      34106
flexible    34074
Name: cancellation_policy, dtype: int64

In [16]:
room_type=unique_column('room type')
room_type

Entire home/apt    53701
Private room       46556
Shared room         2226
Hotel room           116
Name: room type, dtype: int64

In [17]:
Construction_year=unique_column('Construction year')
Construction_year

2014.0    5243
2008.0    5225
2006.0    5223
2019.0    5201
2009.0    5166
2020.0    5158
2010.0    5155
2022.0    5134
2005.0    5132
2012.0    5131
2003.0    5125
2007.0    5106
2015.0    5094
2017.0    5066
2011.0    5058
2018.0    5057
2021.0    5039
2004.0    5037
2013.0    5018
2016.0    5017
Name: Construction year, dtype: int64

In [18]:
review_rate=unique_column('review rate number')
review_rate

5.0    23369
4.0    23329
3.0    23265
2.0    23098
1.0     9212
Name: review rate number, dtype: int64

# Data Preprocessing

In [19]:
Data.columns=[col.lower().replace(' ','_') for col in Data.columns]

In [20]:
Data.columns

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules', 'license'],
      dtype='object')

In [21]:
Missing_value_perc= (Data.isnull().sum()/Data.shape[0])*100
Missing_value_perc

id                                 0.000000
name                               0.243667
host_id                            0.000000
host_identity_verified             0.281679
host_name                          0.395715
neighbourhood_group                0.028265
neighbourhood                      0.015595
lat                                0.007797
long                               0.007797
country                            0.518524
country_code                       0.127682
instant_bookable                   0.102340
cancellation_policy                0.074075
room_type                          0.000000
construction_year                  0.208579
price                              0.240743
service_fee                        0.266084
minimum_nights                     0.398639
number_of_reviews                  0.178364
last_review                       15.490404
reviews_per_month                 15.476759
review_rate_number                 0.317742
calculated_host_listings_count     0.310919
availability_365                   0.436651
house_rules                       50.810437
license                           99.998051
dtype: float64

In [22]:
Missing_value=pd.DataFrame({'column':Missing_value_perc.keys(),'Missing Value %':Missing_value_perc})
Missing_value.reset_index(drop=True,inplace=True)
Missing_value

                            column  Missing Value %
0                               id         0.000000
1                             name         0.243667
2                          host_id         0.000000
3           host_identity_verified         0.281679
4                        host_name         0.395715
5              neighbourhood_group         0.028265
6                    neighbourhood         0.015595
7                              lat         0.007797
8                             long         0.007797
9                          country         0.518524
10                    country_code         0.127682
11                instant_bookable         0.102340
12             cancellation_policy         0.074075
13                       room_type         0.000000
14               construction_year         0.208579
15                           price         0.240743
16                     service_fee         0.266084
17                  minimum_nights         0.398639
18               number_of_reviews         0.178364
19                     last_review        15.490404
20               reviews_per_month        15.476759
21              review_rate_number         0.317742
22  calculated_host_listings_count         0.310919
23                availability_365         0.436651
24                     house_rules        50.810437
25                         license        99.998051

In [23]:
Data["id"].unique().shape[0]/Data["id"].shape[0]*100

99.47270441232371

In [24]:
Data["host_id"].unique().shape[0]/Data["host_id"].shape[0]*100

99.47172974395461

Most of these values ​​are distinct for each line. I don't think it makes sense for analysis, so I'll delete them.

In [25]:
Data.drop(columns=["id","host_id"],axis=1,inplace=True)

In [26]:
Data["country_code"].value_counts()

US    102468
Name: country_code, dtype: int64

In [27]:
Data["country"].value_counts()

United States    102067
Name: country, dtype: int64

In [28]:
Data.drop(columns=["country_code","country"],axis=1,inplace=True)

In [29]:
def remove_dollar_sign(value):
    if pd.isna(value):
        return np.NaN
    else:
        return float(value.replace("$","").replace(",","").replace(" ",""))

In [30]:
Data["price"]

0           $966
1           $142
2           $620
3           $368
4           $204
           ...
102594      $844
102595      $837
102596      $988
102597      $546
102598    $1,032
Name: price, Length: 102599, dtype: object

In [31]:
Data["price"]=Data["price"].apply(lambda x: remove_dollar_sign(x))

In [32]:
Data["price"]

0          966.0
1          142.0
2          620.0
3          368.0
4          204.0
           ...
102594     844.0
102595     837.0
102596     988.0
102597     546.0
102598    1032.0
Name: price, Length: 102599, dtype: float64

In [33]:
Data["service_fee"]=Data["service_fee"].apply(lambda x: remove_dollar_sign(x))
Data["service_fee"]

0         193.0
1          28.0
2         124.0
3          74.0
4          41.0
          ...
102594    169.0
102595    167.0
102596    198.0
102597    109.0
102598    206.0
Name: service_fee, Length: 102599, dtype: float64

In [34]:
Data["last_review"]=pd.to_datetime(Data["last_review"])

In [35]:
Data.drop(columns=["house_rules","license"], axis=1, inplace=True)

 Because there are a high number of Nan values, I will delete them.

In [36]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 20 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   name                            102349 non-null  object
 1   host_identity_verified          102310 non-null  object
 2   host_name                       102193 non-null  object
 3   neighbourhood_group             102570 non-null  object
 4   neighbourhood                   102583 non-null  object
 5   lat                             102591 non-null  float64
 6   long                            102591 non-null  float64
 7   instant_bookable                102494 non-null  object
 8   cancellation_policy             102523 non-null  object
 9   room_type                       102599 non-null  object
 10  construction_year               102385 non-null  float64
 11  price                           102352 non-null  float64
 12  service_fee                     102326 non-null  float64
 13  minimum_nights                  102190 non-null  float64
 14  number_of_reviews               102416 non-null  float64
 15  last_review                     86706 non-null   datetime64[ns]
 16  reviews_per_month               86720 non-null   float64
 17  review_rate_number              102273 non-null  float64
 18  calculated_host_listings_count  102280 non-null  float64
 19  availability_365                102151 non-null  float64
dtypes: datetime64[ns](1), float64(11), object(8)
memory usage: 15.7+ MB

In [58]:
Data['room_type'].value_counts()

Entire home/apt    53701
Private room       46556
Shared room         2226
Hotel room           116
Name: room_type, dtype: int64

In [64]:
Minimumpricebyroomtype=Data.groupby('room_type')['price'].min()
Minimumpricebyroomtype

room_type
Entire home/apt    50.0
Hotel room         50.0
Private room       50.0
Shared room        50.0
Name: price, dtype: float64

In [65]:
Maximumpricebyroomtype=Data.groupby('room_type')['price'].max()
Maximumpricebyroomtype

room_type
Entire home/apt    1200.0
Hotel room         1193.0
Private room       1200.0
Shared room        1199.0
Name: price, dtype: float64

In [67]:
Data.replace('',np.nan, regex=True)

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,2020.0,966.0,193.0,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,2007.0,142.0,28.0,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0
2,THE VILLAGE OF HARLEM....NEW YORK !,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,2005.0,620.0,124.0,3.0,0.0,NaT,NaN,5.0,1.0,352.0
3,NaN,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,2005.0,368.0,74.0,30.0,270.0,2019-07-05,4.64,4.0,1.0,322.0
4,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,2009.0,204.0,41.0,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,Spare room in Williamsburg,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,False,flexible,Private room,2003.0,844.0,169.0,1.0,0.0,NaT,NaN,3.0,1.0,227.0
102595,Best Location near Columbia U,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,True,moderate,Private room,2016.0,837.0,167.0,1.0,1.0,2015-07-06,0.02,2.0,2.0,395.0
102596,"Comfy, bright room in Brooklyn",unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,True,moderate,Private room,2009.0,988.0,198.0,3.0,0.0,NaT,NaN,5.0,1.0,342.0
102597,Big Studio-One Stop from Midtown,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,True,strict,Entire home/apt,2015.0,546.0,109.0,2.0,5.0,2015-10-11,0.10,3.0,1.0,386.0
102598,585 sf Luxury Studio,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,False,flexible,Entire home/apt,2010.0,1032.0,206.0,1.0,0.0,NaT,NaN,3.0,1.0,69.0

In [69]:
Data.shape

(102599, 20)

In [70]:
Data.dropna(inplace=True)

In [71]:
Data.shape

(84313, 20)

In [76]:
Data.to_csv(r'C:\Users\yo-un\Desktop\EXPORTED DATAFRAME\End-to End Project\Aribnb Dataset\Airbnbcleaned.csv',index=False)

In [78]:
Data.drop(columns=['lat','long'],axis=1,inplace=True)

In [80]:
Data.head()

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,False,strict,Private room,2020.0,966.0,193.0,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,False,moderate,Entire home/apt,2007.0,142.0,28.0,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0
4,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,False,moderate,Entire home/apt,2009.0,204.0,41.0,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0
5,Large Cozy 1 BR Apartment In Midtown East,verified,Michelle,Manhattan,Murray Hill,True,flexible,Entire home/apt,2013.0,577.0,115.0,3.0,74.0,2019-06-22,0.59,3.0,1.0,374.0
7,BlissArtsSpace!,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,False,moderate,Private room,2009.0,1060.0,212.0,45.0,49.0,2017-10-05,0.40,5.0,1.0,219.0

In [81]:
Data.to_csv(r'C:\Users\yo-un\Desktop\EXPORTED DATAFRAME\End-to End Project\Aribnb Dataset\Airbnbcleaned.csv',index=False)

In [82]:
price_room_df=Data.query("price!='Nan'")
price_room_df["price"]=Data["price"]
price_room_df

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,False,strict,Private room,2020.0,966.0,193.0,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,False,moderate,Entire home/apt,2007.0,142.0,28.0,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0
4,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,False,moderate,Entire home/apt,2009.0,204.0,41.0,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0
5,Large Cozy 1 BR Apartment In Midtown East,verified,Michelle,Manhattan,Murray Hill,True,flexible,Entire home/apt,2013.0,577.0,115.0,3.0,74.0,2019-06-22,0.59,3.0,1.0,374.0
7,BlissArtsSpace!,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,False,moderate,Private room,2009.0,1060.0,212.0,45.0,49.0,2017-10-05,0.40,5.0,1.0,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102588,"Loft Space for Events, Meetings & Shoots",unconfirmed,Kalin,Manhattan,Flatiron District,True,flexible,Entire home/apt,2016.0,618.0,124.0,1.0,177.0,2019-06-29,3.78,4.0,1.0,410.0
102591,Columbus Ave Apt 1 block from Park,verified,Lawrence,Manhattan,Upper West Side,False,strict,Entire home/apt,2005.0,1139.0,228.0,5.0,17.0,2019-01-04,0.35,5.0,1.0,134.0
102593,"Welcoming, Clean, Cheap on St Marks",verified,Felipe,Manhattan,East Village,True,strict,Private room,2017.0,1099.0,220.0,1.0,8.0,2015-09-06,0.16,4.0,2.0,152.0
102595,Best Location near Columbia U,unconfirmed,Mifan,Manhattan,Morningside Heights,True,moderate,Private room,2016.0,837.0,167.0,1.0,1.0,2015-07-06,0.02,2.0,2.0,395.0
102597,Big Studio-One Stop from Midtown,unconfirmed,Christopher,Queens,Long Island City,True,strict,Entire home/apt,2015.0,546.0,109.0,2.0,5.0,2015-10-11,0.10,3.0,1.0,386.0